name: Python Flask Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "^3.8" # Python version 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          export PYTHONPATH=${PYTHONPATH}:$(pwd)
          pip install flask pytest

      - name: Run Pytest
        run: pytest tests/
